html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #202020;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #222428;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  /*color: #c77373;*/
  /*text-decoration: none;*/
}

a:hover {
  color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.76rem;
  vertical-align: center;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.24rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 6px;
}
